@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 30px;
    background-color: hsl(217, 54%, 11%);
    border-radius: 10px;
}

.image {
    border-radius: 10px;
}

h2, .right h4, .one {
    color: hsl(215, 32%, 27%);
}

h1, .two {
    color: hsl(0, 0%, 100%);
}

h1 {
    margin-top: 30px;
}

h2 {
    margin: 30px 0;
}

.info {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 8px;
}

.left {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.divider {
    border: 3px solid hsl(215, 32%, 27%);
    margin: 20px 0;
    border-radius: 10px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.image-2 {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    margin-right: 20px;
}

.one {
    font-weight: 600;
}

.two {
    font-weight: 600;
}